/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom style  */
*,
* ::before,
* ::after{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 0px;    
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    text-align: center;
}
.common-h2{
    font-size: 24px;
    color: #363535;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid #55524f;
    width: 204px;
    margin: 0 auto;
    padding-bottom: 3px;
    text-transform: uppercase;
}
.common-p{
    font-size: 15px;
    color: #55524f;
    margin-top: 15px;
    text-transform: uppercase;
}
.common-top-margin-120{
    margin-top: 120px;
}
.common-top-margin-70{
    margin-top: 70px;
}
.column{
    flex-direction: column;
}.wrap{
    flex-wrap: wrap;
}
/* header  */
.header {
    position: sticky;
    top: 0px;
    margin-top:80px;
    width: 100%;
}
.header-section{
background-color: white;
box-shadow: 2px 2px 6px 2px #888888;
}
.header-section .brand img{
    vertical-align: middle;
    height: 90px;
}
.header-section .brand a{
    text-decoration: none;
    color: #EA513E;
    font-size: 32px;
    font-weight: 700;
    vertical-align: middle;
}

.header-section a{
    text-decoration: none;
    text-transform: uppercase;
    color: #55524f;
    font-size: 12px;
    margin-right: 38px;
}
.active-nav{
    border-top: 4px solid #EA513E;
    padding-top: 35px
}


/* .main  */
.main {
    margin-top: -180px ;
}
/* hero  */
.hero{
    background-image: url("../media/banner.jpg");
}
/* social-nav  */
.social-nav{
    justify-content: center;
    font-size: 10px;
    padding-top: 10px;
}
.social-nav a{
    padding: 12px;
    border-radius: 50%;
    background-color: white;
    color: #55524f;
    margin: 20px 5px;
}
.social-nav .facebook-padding{
    padding: 12px 14px;
}
/* hero-heading  */
.hero-heading{
    padding: 260px 0 90px 0;
    text-transform: uppercase;
    width: 330px;
    margin: 0 auto;
}
.hero-heading h1{
    font-size: 32px;
    font-weight: 700;
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
.hero-heading h4{
    font-size: 18px;
    color: white;
    padding: 20px 0;
}
.hero-heading a{
    text-decoration: none;
    padding:10px 10px;
    background-color: #EA513E;
    color: white;
    font-size: 12px;
    font-weight: 600;
}
.dots{
   background-color: white;
   padding-top: 10px;
}
.dots span{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black ;
    margin: 0 3px;
}
.dots .dots-bg-color{
    background-color: #55524f;
}
/* services-section  */

.services-logo a{
    height: 240px;
    width: 240px;
    display: inline-block;
    margin: 0px 12px;
    font-size: 35px;
    color: white;
}
.services-logo a i{
    padding-top: 100px;
}
.services-logo .bg1{
    background-color: #5CBD9D;
}
.services-logo .bg2{
    background-color: #E67F31;
}
.services-logo .bg3{
    background-color: #3998DB;
}
.services-logo .bg4{
    background-color: #68CD73;
}

/* portfolio */

.portfolio-images .image{
    flex: 0 1 22.22%;
    margin: 14px 12px;
}
.portfolio-images .image img{
    width: 100%;
}
/* our-team  */

.team-h2-width{
   width: 132px;
}
.member{
    flex: 0 1 23%;
}
.member img{
    width: 100%;
    border-radius: 50%;
}
/* design-skill-content */
.design-skills-content{
    flex-direction: column;
}
.design-skills-content h3{
    font-size: 15px;
    text-transform: uppercase;
    font-style: italic;
    color: #777777;
    font-weight: 600;
    padding-top: 80px;
}
.design-skills-content p{
    font-size: 12px;
    font-style: italic;
    color: #bdb5b1;
    margin: 5px 0 50px 0;
}
.article-text{
    padding-right:18px;
}
.article-text p{
    font-size: 12px;
    font-style:normal;
    color: #6e6e6e;
    margin: 20px 0 5px 0;
    line-height: 1.5;
    
}
.article-text p small{
    font-size: 12px;
    font-style: normal;
    color: #6e6e6e;
    margin: 20px 0 5px 0;
    line-height: 1.5;
    color: #EA513E;
}
.graph{
    text-transform: uppercase;
    width: 350px;
    height: 32px;
    background-color:#E7E7E7;
    margin: 8px 0;
}
.graph small{
    font-size: 12px;
    font-weight: 600;
}
.photograph{
    height: 100%;
    width: 90%;
    background-color: #EA513E;
    padding: 8px 0px 0 12px;
    color: white;
}
.html-css{
    height: 100%;
    width: 80%;
    background-color: #EA513E;
    padding: 8px 0px 0 12px;
    color: white;
}
.development{
    height: 100%;
    width: 70%;
    background-color: #EA513E;
    padding: 8px 0px 0 12px;
    color: white;
}
.marketing{
    height: 100%;
    width: 80%;
    background-color: #EA513E;
    padding: 8px 0px 0 12px;
    color: white;
}

/* contact us  */
.contact-h2-width{
    width: 120px;
}
iframe{
    width:1050px;
    height:300px;
}

.column{
    margin-top: 300px;
}
.info-and-address{
    flex: 0 1 60%;
    padding:0 15px ;
}
.info-and-address p{
    text-transform:none;
    font-size: 12px;
    font-style:normal;
    color: #6e6e6e;
    margin: 20px 0 5px 0;
    line-height: 1.5;
}
.blue{
    color: blue;
}
.green{
    color:green
}
.red{
    color: #EA513E;
}
.bold{
    font-weight: bold;
}
.address{
    margin-top: 40px;
}
.address p{
  margin:5px 0 5px 0;
}
.contact-form{
  flex-direction: column;
  padding-right: 15px;
  margin-top: 20px;
}
.contact-form input,textarea{
    padding-left: 10px;
    width: 420px;
    height: 32px;
    border: 1px solid #6e6e6e;
    color: #6e6e6e;
    margin: 10px 0;
}
.contact-form textarea{
    height: 100px;
    font-size: 15px;
}
.contact-form .btn{
    width: 420px;
    height: 32px;
    background-color: #EA513E;
    border: none;
    color: white;
}
/* footer  */
footer{
    padding: 150px 15px 15px 15px;
}
.footer p{
    font-size: 12px;
    color: #6e6e6e;
}
.footer a{
    text-decoration: none;
    padding: 14px 35px;
    background-color: #EA513E;
    color :white;

}







/* gallery costume style */

.gallery-container{
    max-width: 1260px;
    padding: 0 20px;
    margin: 0 auto;
    line-height: 1.2;
}
/* aside with header, article and foooter  */
.aside{
    flex: 0 1 25%;
    background-color: #EA513E;
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;

}
/* header  */
.gallery-header{
    width: 100%;
    margin: 30px 0 0 0;
    padding: 0 0 0 40px;
}
.gallery-brand{
    justify-content: center;
    height: 60px;
    width: 60px;
}
.gallery-brand img{
    width: 100%;
    height: 100%;
}
.gallery-brand a{
    font-size: 28px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 5px;
}   
.gallery-header .home-btn{
    text-decoration: none;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    padding: 5px 6px;
    border-radius: 3px;
    
}
.header-article-nav .article{
    margin-top: 350px;
    padding-right: 25px;
}
.article h2{
    font-size: 22px;
    color: white;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
}
.article p{
    font-size: 12px;
    color: rgb(48, 47, 47);
    font-weight: 600;
    line-height: 2;
}
.header-article-nav .nav{
    justify-content:space-evenly;
    margin: 40px 80px 40px 0;
}
.header-article-nav .nav a{
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 7px 8px;
    margin-right:16px ;
}
.header-article-nav .nav .facebook-padding{
    padding: 6px 10px;
}

/* main */
.gallery-hero{
    background-color: white;
}
.gallery-main{
    flex: 0 1 75%;
    width: 75%;
    margin-left: 372px;
}
.gallery-container{
    max-width: 97%;
    margin: 0 auto;
}
.gallery-container h1{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}
.gallery1, .gallery2{
    flex:0 1 510px;
    flex-direction: column;
    justify-content: flex-start;
}
.gallery1{
    margin-top: -260px;
}
.gallery .image{
    margin-bottom: 30px;
    border: 3px solid rgb(59, 59, 59);
}

.gallery .image img{
    width: 100%;
} 
